p {
  font-family: Lato;
}

.mat-card {
  width:600px;
}

::ng-deep .my-tooltip {
  text-align: left !important;
}

table {
  width: 500px;
}

mat-slider {
  width: 500px;
}

mat-grid-tile {
  background: white;
}

