<div style="height:100px; background-color:#5090e0; color:white; padding:5px;">
<br>
<div style="font-size:14px">Select all images with </div>
<div style="font-size:18px"><b>road signs</b></div>
<div style="font-size:12px">Click verify when there are none left</div></div>
 
<br>
<mat-grid-list cols="6" rowHeight="1:1">
  
  


  <mat-grid-tile *ngFor="let i of arr">
    <img [src]='srcs[i[0]][i[1]]' class="mg" (click)='process($event,i[0],i[1])' *ngIf="!vals[i[0]][i[1]].ok && adj(i[0], i[1])">
    <img [src]='srcs[i[0]][i[1]]' class="mk" (click)='process($event,i[0],i[1])' *ngIf="!vals[i[0]][i[1]].ok && !adj(i[0], i[1])">
   <img [src]='srcs[i[0]][i[1]]' class="mz" *ngIf="vals[i[0]][i[1]].ok">
   <img src='https://i.imgur.com/pxbFjUd.png' class="mo" *ngIf="vals[i[0]][i[1]].ok">
  </mat-grid-tile>
</mat-grid-list>
<br>
<button mat-raised-button  style="color:white; background-color:#5090e0; opacity:100px !important; float:right;" (click)="check()">Verify</button>