
<mat-menu *ngFor="let menu of names" [style]='init(thisMenu, menu[0])' #thisMenu='matMenu'>
  <ng-template matMenuContent>
    <div [style]="addChildren(menu)"></div>
    <button *ngFor="let sub of menu[1]" mat-menu-item [matMenuTriggerFor]="menus[sub]">{{sub}}</button>
    <button mat-menu-item>System settings</button>
  </ng-template>
</mat-menu>

<mat-menu #appMenu="matMenu">
  <ng-template matMenuContent>
    <button *ngFor="let menu of names" mat-menu-item [matMenuTriggerFor]="menus[menu[0]]">{{menu[0]}}</button>
    <button mat-menu-item>Help</button>
  </ng-template>
</mat-menu>

<button mat-icon-button [matMenuTriggerFor]="appMenu">
  Menu
</button>