
<mat-menu [yPosition]="idk(menu)" [xPosition]="idk2(menu)" *ngFor="let menu of names" [style]='init(thisMenu, menu)' #thisMenu='matMenu'>
  <ng-template matMenuContent>
    <div [style]="init2(thisMenu,menu)"></div>
    <div *ngIf="ready[menu]">
      <div *ngFor="let sub of nexts[menu[menu.length-1]]">
    <button  mat-menu-item *ngIf="menus[menu.join('')+sub[1]]" [matMenuTriggerFor]="menus[menu.join('')+sub[1]]">{{sub[0]}}</button>
    <button  mat-menu-item *ngIf="!menus[menu.join('')+sub[1]]" >{{sub}}</button>
    </div>
    </div>
  </ng-template>
</mat-menu>


<button mat-icon-button [matMenuTriggerFor]="menus['start']">
  Menu
</button>