
<mat-menu [yPosition]="idk(thisMenu, menu)" [xPosition]="idk2(thisMenu, menu)" *ngFor="let menu of names" [class]='init(thisMenu, menu)' #thisMenu='matMenu'>
  <ng-template matMenuContent>
    <div [style]="init2(thisMenu,menu)"></div>
    <div *ngFor="let sub of getNexts(menu)">
    <div *ngIf="ready[menu]">
      
    <button  mat-menu-item *ngIf="isArr(sub)" [matMenuTriggerFor]="menus[follow(menu, sub).join('')]">{{sub[0]}}</button>
    <button  mat-menu-item *ngIf="!isArr(sub)&&sub=='USA'" (click)="pressed()">{{sub}}</button>
    <button  mat-menu-item *ngIf="!isArr(sub)&&sub!='USA'" >{{sub}}</button>
    </div>
    <div>
      <button mat-menu-item *ngIf="!ready[menu]" >loading...</button>
    </div>
    </div>
  </ng-template>
</mat-menu>


<button mat-raised-button color="primary" [matMenuTriggerFor]="menus['0000000000start']" style="padding:8px;margin-right:40px;">
  <mat-icon>location_on</mat-icon>
  {{country}}
</button>
<br>