<mat-form-field appearance="outline" class="thick" (click)="click()">
  <mat-label>Member Username</mat-label>
  <input thick matInput required [formControl]="control" [matTooltip]="info" matTooltipPosition="right" [matTooltipClass]="'my-tooltip'" (keypress)="press($event)" >
  <mat-hint *ngIf="strength==0" style="color:#800">Strength: Poor ☆☆☆☆☆</mat-hint>
  <mat-hint *ngIf="strength==1" style="color:#850">Strength: Fair ★☆☆☆☆</mat-hint>
  <mat-hint *ngIf="strength==2" style="color:#830">Strength: Okay ★★☆☆☆</mat-hint>
  <mat-hint *ngIf="strength==3" style="color:#880">Strength: Good ★★★☆☆</mat-hint>
  <mat-hint *ngIf="strength==4" style="color:#480">Strength: Great ★★★★☆</mat-hint>
  <mat-hint *ngIf="strength==5" style="color:#080">Strength: Excellent ★★★★★</mat-hint>
</mat-form-field>
