/* Add application styles & imports to this file! */

@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';


.thick {
  width:500px;
  
}

.material-icons {
  font-family: 'Material Icons' !important;
}

mat-radio-group {
  display: flex;
  flex-direction: column;
  margin: 15px 0;
}

.mat-slider-thumb-label {
  transform: rotate(45deg) !important;
  border-radius: 50% 50% 0 !important;
}

.mat-slider-thumb {
  transform: scale(0) !important;
}

.mat-slider-thumb-label-text {
  opacity: 1 !important;
}

.mat-dialog-container{
  padding: 5px !important;
}

.mg{
  width: 100%; 
  height: 100%; 
  //filter: blur(1px);
  //opacity:.2 !important; 
}

.mz{
  width: 80%; 
  height: 80%; 

  //filter: blur(1px);
  //opacity:.2 !important; 
}

.mo{
  width:20px;
  height:20px;
  position:absolute;
  left:0;
  top:0;
  filter: drop-shadow(1px 1px 4px #222);
}

.mk{
  width: 100%; 
  height: 100%; 
  background: red !important;
  background-color: red !important;

  //filter: blur(5px);
  opacity:.25 !important; 
}

mat-chip {
  opacity:.8 !important; 

}

.mat-option.mat-option-disabled {
  color: rgb(0,0,0,0.78)
}

input {
  margin-left: 0px !important; 
    margin-right: 0px !important; 
    margin-top: 0px !important; 
    margin-bottom: 0px !important; 

}

* { font-family: Roboto; } 

.my-tooltip {
    white-space: pre;
    font-family: Monospace !important;
    width:100% !important;
    max-width: 1000px;
    min-width: 300px;
}